<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>

<body>

    <form name="calculator" class="container">
        <h3>Calculadora</h3>

        <input type="textfield" id="ans" value="" disabled>

        <input type="button" value="1" onclick="operacion(this)">
        <input type="button" value="2" onclick="operacion(this)">
        <input type="button" value="3" onclick="operacion(this)">
        <input type="button" value="+" onclick="operar(this)">

        <input type="button" value="4" onclick="operacion(this)">
        <input type="button" value="5" onclick="operacion(this)">
        <input type="button" value="6" onclick="operacion(this)">
        <input type="button" value="-" onclick="operar(this)">

        <input type="button" value="7" onclick="operacion(this)">
        <input type="button" value="8" onclick="operacion(this)">
        <input type="button" value="9" onclick="operacion(this)">
        <input type="button" value="*" onclick="operar(this)">

        <input type="button" value="0" onclick="operacion(this)">
        <input type="reset" value="c" onclick="limpiar()">
        <input type="button" value="/" onclick="operar(this)">
        <input type="button" value="=" onclick="resultado(this)">
    </form>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>
</html>